@charset 'utf-8'; 

html, 
body {
    margin: 0; 
    font-family: AvenirReg, sans-serif; 
    color: #323232; 
    height: 100vh; 
    box-sizing: border-box; 
}

a {
    text-decoration: none;

    &:visited {
        color: black; 
    }
}

/* Enforces border-box for whole site */
*, 
*:before, 
*:after {
    box-sizing: inherit; 
}

/* Imports */
@import './partials/breakpoints'; 
@import './partials/fonts'; 
@import './partials/colours'; 
@import './partials/header'; 
@import './partials/mainContent';
@import './partials/mainVideo'; 
@import './partials/videoInfo'; 
@import './partials/conversation'; 
@import './partials/nextVideos'; 