.footer {
    background-color: $black;
    padding: 48px 0; 
    color: $white; 

    &__wrapper {
        margin: 0 5%; 
    }

    &__nav,
    &__socials {
        display: flex;
        align-items: center;
    }

    &__nav {
        width: 100%; 
        margin-bottom: 56px; 
        justify-content: space-between;
    }

    &__title, 
    &__contact-title {
        text-transform: capitalize;
    }

    &__socials {
        width: 80%; 
        margin: 0; 
    }

    &__social-icon:not(:first-of-type) {
        margin-left: 32px;
    }

    &__logo {
        display: none;
        width: 120px; 
        height: 24px; 
    }

    &__directory {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &__contact,
    &__contact-title,
    &__contact-info {
        margin-bottom: 16px;
        width: 100%;  
    }

    &__contact-title {
        font-family: "AvenirDemiBold";
        font-size: 14px; 
        line-height: 22px;
    }

    &__link {
        text-decoration: none;
        color: $white; 
    }

    &__link:hover {
        color: $silver;
    }

    &__contact-info, 
    &__copyright {
        font-size: 13px; 
        line-height: 18px; 
    }
}

@include medium {
    .footer {
        &__wrapper {
            margin: 0 3.13%; 
        }

        &__intro {
            display: flex;
        }

        &__title {
            width: 400px; 
        }

        &__logo {
            display: flex;
            margin-left: auto; 
        }

        &__directory {
            flex-direction: row;
            width: 100%; 
            align-items: flex-start;
        }

        &__contact {
            width: 250px; 
        }

        &__contact:not(:first-of-type) {
            margin-left: 32px;
        }

        &__contact-title {
            font-size: 16px; 
            line-height: 24px;
        }
    
        &__contact-info, 
        &__copyright {
            font-size: 14px; 
            line-height: 20px; 
        }
    }
}

@include large {
    .footer {
        &__wrapper {
            margin: 0 12.5%; 
        }
    }
}