.header {
    height: 169px; 

    &__wrapper {
        height: 100%;
        margin: 0 5%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        margin: 0; 
        height: 48px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__search-wrapper {
        width: 100%; 
        display: flex;
    }

    &__search-bar {
        position: relative; 
        width: 100%; 
    }

    &__search-icon {
        position: absolute;
        top: 15px;
        left: 16px;
    }

    &__search-field{
        width: 100%; 
        height: 49px; 
        margin-bottom: 8px; 
        padding: 16px; 
        text-indent: 32px;
        border-radius: 4px;
        border: 1px solid $mercury; 
        background-color: $alabaster;
    }

    &__user-tools {
        display: flex; 
        width: 100%; 
        justify-content: space-between; 
        margin-bottom: 16px;
    }

    &__cta {
        display: flex;
        justify-content: center;

        font-family: 'AvenirDemiBold';
        text-transform: uppercase; 
        color: $white;
        background-color: $brainflix-ltblue; 
        border-style: none;
        border-radius: 4px; 
        flex-grow: 1;
        &:hover {
            background-color: $brainflix-drkblue;
        }

        &-icon {
            margin-right: 8px; 
        }
    }

    &__avatar-wrapper {
        width: 48px; 
        height: 48px; 
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 5%; 
    }

    &__avatar {
        object-fit: cover;
        width: inherit;
        height: inherit;
        background-color: $silver;
    }
}

@include medium {
    .header { 
        height: 80px; 

        &__wrapper {
            margin: 0 3.13%;  
            flex-direction: row; 
        }

        &__logo {
            margin-right: 23.35%; 
        }

        &__search-wrapper {
            align-items: center;
            margin-right: 3.33%;
        }

        &__search-field {
            margin-bottom: 0;  
        }

        &__user-tools {
            align-items: center;
            margin-bottom: 0;
        }

        &__cta {
            height: 48px; 
        }

        &__avatar-wrapper {
            margin-left: 24px;
        }
    }
}

@include large {
    .header {
        &__wrapper {
            margin: 0 12.5%; 
        }

        &__logo {
            margin-right: 47.13%; 
        }

        &__search-wrapper {
            margin-right: 2.22%;
        }

        &__avatar-wrapper {
            margin-left: 24px;
        }
    }
}