html,
body {
  margin: 0;
  font-family: AvenirReg, sans-serif;
  color: #323232;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Imports */
/* Media Query: Tablet */
/* Media Query: Desktop */
@font-face {
  font-family: 'AvenirReg';
  src: url("../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: 'AvenirDemiBold';
  src: url("../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: 'AvenirBold';
  src: url("../assets/Global-Font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}

.header {
  height: 169px;
}

.header__wrapper {
  height: 100%;
  width: inherit;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-bar {
  position: relative;
  width: 100%;
}

.header__search-icon {
  position: absolute;
  top: 15px;
  left: 16px;
}

.header__search-field {
  width: 100%;
  height: 49px;
  margin-bottom: 8px;
  padding: 16px;
  text-indent: 32px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}

.header__user-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.header__cta {
  font-family: 'AvenirDemiBold';
  text-transform: uppercase;
  color: #fff;
  background-color: #0095ff;
  border-style: none;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__cta:hover {
  background-color: #0065ad;
}

.header__avatar-wrapper {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 5%;
}

.header__avatar {
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: inherit;
  background-color: #afafaf;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header__wrapper {
    margin: 0 3.13%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    margin-right: 23.35%;
  }
  .header__search-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 3.33%;
  }
  .header__search-field {
    margin-bottom: 0;
  }
  .header__user-tools {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .header__cta {
    height: 48px;
  }
  .header__avatar-wrapper {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .header__wrapper {
    margin: 0 12.5%;
  }
  .header__logo {
    margin-right: 47.13%;
  }
  .header__search-wrapper {
    margin-right: 2.22%;
  }
  .header__avatar-wrapper {
    margin-left: 24px;
  }
}
/*# sourceMappingURL=main.css.map */